.content {
  margin-top: 30vh;
  text-align: center;
  
  font-family: "Kosugi Maru", sans-serif;
  font-size: 5rem;
  font-weight: 550;
  color: rgba(175, 43, 191, 0.85);
  // color: rgba(136, 73, 143, 1);
  // color: rgba(173, 0, 219, 0.7);
}