.socials {
  margin-left: auto;
  margin-right: auto;
  width: 10.2rem;
}

.icon {
  height: 2rem;
  width: 2rem;
  color: rgba(175, 43, 191, 0.85);
  // color: rgba(218, 218, 218, 0.795);
  margin: 0 0.7rem 0 0.7rem;
}