@import url("https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap");

html {
  height: 100vh;
  background: rgb(255, 154, 0);
  background: linear-gradient(
    175deg,
    rgba(255, 154, 0, 1) 0%,
    rgba(255, 188, 0, 1) 33%,
    rgba(255, 188, 0, 1) 66%,
    rgba(0, 180, 169, 1) 100%
  );
}
